*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.navbarContainer{
    width: 100%;
    background-color: black;
}
.navbar{
    width: 70%;
    height: 40px;
    margin: auto;
}
.navbar ul{
    height: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    padding: 0px 10px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}
.menuContainer{
    width: 100%;
}
.menu{
    width: 70%;
    height: 70px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .logo{
    width: 20%;
    height: 70px;
}
.menu .logo img{
    width: 100%;
    margin: 20px 0px;
}
.menu ul li{
    display: inline-block;
    padding: 0px 10px;
}
.menu ul li a{
    text-decoration: none;
    font-size: 20px;
    color: black;
}
.menu ul li a::after{
    content: '';
    display: block;
    border: 1px solid black;
    width: 0%;
    margin: auto;
    margin-top: 3px;
    transition: 0.5s;
}
.menu ul li a:hover::after{
    width: 100%;
}
.menu .search{
    width: 15%;
    border: 1px solid gray;
    border-radius: 20px;
}
.menu .search input{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 20px;
}
::placeholder{
    padding-left: 20px;
}
.bannerContainer{
    width: 100%;
}
.banner{
    width: 70%;
    height: 445px;
    margin: auto;
}
.banner img{
    width: 100%;
    position: relative;
}
.textContainer{
    width: 100%;
}
.textContainer .text {
    width: 70%;
    height: auto;
    margin: auto;
}
.textContainer .text h3{
    text-align: center;
    text-transform: uppercase;
    margin: 10px 0px;
}
h3::after{
    content: '';
    /* border: 1px solid black; */
}
.galleryContainer{
    width: 100%;
}
.gallery{
    width: 70%;
    height: 550px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}
.Image{
    width: 325px;
    height: 270px;
    border-radius: 10px;
}
.Image img{
    width: 100%;
    border-radius: 10px;
}
.vedioGalleryContainer{
    width: 100%;
    background-color: aqua;
}
.vedioGallery{
    width: 70%;
    height: 850px;
    margin: auto;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.vedio{
    width: 320px;
    height: 370px;
    background-color: aliceblue;
    border-radius: 10px;
}
.vedio video{
    width: 100%;
    border-radius: 10px;
}